.chatBoxHeader {
    background: #5A5EB9;
    height:70px;
    border-top-left-radius:5px;
    border-top-right-radius:5px; 
    color:white;
    text-align:center;
    font-size:20px;
    padding-top:17px;
  }

  .noactive{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .chatItem{
    margin-right: 10px;
    margin-left: 10px;
  }