.topnav {
    background-color: #5A5EB9;
    display: flex;
    justify-content: space-between;
  }
  
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: grey;
  }
  
  .topnav a.active {
    background-color: grey;
  }

  .logoutBlock{
    justify-content: space-between;
  }